@charset "utf-8";
/* CSS Document */

#transition{
			transition-property: all;
			transition-delay: 0;
			transition-duration: 2s;
		}
		
#transition:hover{
			font-style: italic;
			font-size: 30px;
			text-transform: uppercase;
			color: green;
			-webkit-transform: rotate(7deg);
			transform: rotate(7deg);
		}

